 * {
            margin: 0;
            padding: 0;
        }

        body {
            background-image: url(../img/inicio.png)
           
        }

        #heading {
            /* background-color: red; */
        }

        #heading div {
            width: 90%;
            display: flex;
            justify-content: space-between;
            margin: 0 auto;
        }

        #heading .h1 {
            /* padding-top: 15px;
            padding-left: 15px; */
            padding: 15px 0;
            font-size: 20px;
            text-transform: uppercase;
        }

        #heading a {
            color: red;
            text-decoration: none;
            font-family: sans-serif;
        }